{:kotoba.app/id "cloud.itonami.isic-0127", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicjmr773sii4j6d46oternjkij3ph3tccmjlo2bjbwxyvvweqhpym", :kotoba.app/embed-url "ipfs://bafkreicjmr773sii4j6d46oternjkij3ph3tccmjlo2bjbwxyvvweqhpym", :published {:archive "https://kotobase.net/ipfs/bafkreicjmr773sii4j6d46oternjkij3ph3tccmjlo2bjbwxyvvweqhpym", :size 72448, :put-status 201, :get-status 200, :at "2026-08-15T12:56:02.608Z"}}
